
:root {
  --lite: #EEEEEE; 
  --medium:#222831;
  --font:#F97300;
  --navbg:#31363F;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: var(--medium);
  font-family: Poppins;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 100vh;
}
/* nav bar style  */
.nav-bar{
  background-color: var(--navbg);
  display: flex;
  justify-content:space-between;
  color:var(--lite);
  height: auto;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; 
  width: 100%;
  z-index: 1000; 

}
.nav-bar h3{
  background-color: var(--navbg);
  padding: 1rem;
}
.nav-bar ul{
  display: flex;
  justify-content: flex-center;
  align-items: center;
  background-color: var(--navbg);
  margin: auto 2rem ;
}
.nav-bar ul li {
  list-style: none;
  background-color: var(--navbg);
  font-size: large;
  padding: 0.3rem 1rem;
  width: 100%;
}
.bg-nav{
  text-decoration: none;
  color: var(--lite);
  background-color: var(--navbg);
  padding: 5px;
  cursor: pointer;
  width: 5rem;
}

.bg-nav:hover{
  background-color: var(--font);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.active {
  background-color: var(--font);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

/* intro css starts */

.intro-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: wrap;
  background-color: var(--medium);
  margin-top: 6rem;
  height: 77vh;
}
.intro-section{
  padding: 4rem 6rem;
}
.intro-section p {
  font-size: 0.5rem;
}
.intro-section h1 {
  font-size: 2rem;
  color: var(--lite);
}
.intro-section h3 {
  font-size: 1.4rem;
  color:var(--lite);
}

.fab{
  color: var(--lite);
  font-size: 1.5rem;
  margin: 1.5rem;
}

.intro-lines{
  color: var(--lite);
}
.intro-img{
  padding-right: 8rem;
 
}
.intro-img img{
  width: 20rem;
  border: 2px solid red;
  border-radius:50% ;
}
.med{
  background-color: var(--medium) !important;
}

/* styles.css */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.fa-solid{
  background-color: var(--medium) !important;
  color: var(--font);
}
.scroll-button {
  font-size: xx-large;
  color: var(--lite);
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  outline: none;
  animation: bounce 2s infinite;
  transition: background-color 0.3s ease;
}


/* here intro section start  */


.skill-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  margin: 3rem;
}
.skill-section h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--lite);
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  padding: 1rem;
  margin: 0.5rem  1rem 1rem 1rem;
}

.skill-container img {
  width: 3rem;
}

.grid-item {
  color: #ffffff;
  text-align: center;
  padding: 0px 1rem;
  font-size:1.5rem ;
}

.skill-name {
  font-size: 1rem;
  color: var(--lite);
  font-weight: bold;
}



/* education conatiner  */
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}


.eduction-container h3{
  text-align: center;
  color: var(--lite);
  font-size: 1.5 rem;
}

.eduction-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color:var(--lite);
  margin: 2rem;
}
.education-box{
  color: var(--lite);
  padding: 1rem;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  width: 25rem;
  height: 12rem;
}
.education-box h2{
  font-size: 1.5rem;
}
.education-box h3{
  font-size: 1.5rem;
}
.education-box h4{
  font-size: 1.2rem;
}
.education-box h5{
  font-size: 1rem;
  background-color: var(--medium);
}


.headings{
  color: var(--font);
  text-align: center;
  font-size: 1.5rem;
}

.experience-box {
  margin: 4rem;
  font-size: 1.5rem;
  text-align: left;
  padding: 1rem;
  width: fit-content;
}
.experience-box  ul li{
  list-style: none;
  background-color: var(--medium);
  font-size: large;
  padding: 0.3rem 1rem;
  width: auto;
  font-size: 1rem;
}
.experience-container {
  color: var(--lite);
  margin: 6rem auto;
  text-align: center;
  width: fit-content;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid red;

}
#experience{
  margin: 3rem auto;
}
.experience-box h5,h6{
  background-color: var(--medium);
  text-align: center;
}
.experience-box h2{
  text-align: right;
  font-size: 1rem;
  background-color: var(--medium);
  font-weight: bold;
}
.experience-container:hover{
  transition: ease-out;
}
/* footer section starts */
.footer {
  background-color: var(--navbg);
  color:var(--lite);
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}
.footer div, 
.footer p, 
.footer h3, 
.footer a, 
.footer i{
  background-color: var(--navbg);
}
.footer-icons{
  background-color: var(--navbg);
}
@media (max-width: 1034px) {
  .nav-bar {
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    width: 100%;
  }

  .nav-menu {
    display: none;
  }
}

@media (max-width: 950px) {
  .nav-bar {
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    width: 100%;
  }

  .nav-right {
    display: none;
  }

  .nav-menu {
    display: inline-block;
    font-size: 1.7rem;
    padding: 0rem 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-color: var(--font);
    width: 3px;
    height: 100%;
    margin-top: 150px;
  }


  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--font);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .timeline-circle-end {
    position: absolute;
    top: 95%;
    left: 48%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--font);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}